html {
    height: 100vh;
}

body {
    height: 100%;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121) !important;
}

.App{
    height: 100vh;
}
.fz-5{
    font-size: 2rem !important;
}